// Mixins are functions that sass can run.

@mixin border-radius($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -ms-border-radius:      $radius;
  border-radius:          $radius;
}

@mixin square($size) {
  width: $size;
  height: $size;
}
