body {
  font: 100% $font-stack;
  color: $font-color;
}


.box {
  background: hsla(240, 95%, 95%, 1);
  @include border-radius(5px);
  @include square(150px);
  margin: {
    left: 10px;
    right: 10px;
    top: 0px;
    bottom: 0px;
  }
  float: left;
}

.success {
  @extend .box;
  background: hsla(120, 95%, 95%, 1);
}

.error {
  @extend .box;
  background: hsla(0, 95%, 95%, 1);
}


article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
  background: hsla(0, 0%, 75%, 1);
  height: 100%;
}

aside[role="complimentary"] {
  @extend article[role="main"];
  float: right;
  width: 300px / 960px * 100%;
}
